@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom component styles */
.fullpage {
  @apply 
    min-h-screen 
    bg-gray-50;
}

.title {
  @apply 
    text-4xl 
    font-bold 
    text-center 
    text-gray-900 
    bg-gray-500 
    p-4 
    sticky 
    top-0 
    z-10 
    shadow;
}

.menu {
  @apply 
    gap-4 
    text-xl 
    font-bold 
    text-gray-900 
    h-full 
    text-center 
    flex 
    flex-row 
    md:flex-col 
    sticky 
    top-10 
    z-10;
}

.menu-item {
  @apply 
    flex-grow
    md:flex-1
    p-2 
    border
    border-gray-700 
    rounded-sm
    bg-gray-200
    hover:bg-gray-300 
    cursor-pointer 
    flex-1;
}

.entry-item {
  @apply 
    p-2 
    m-2
    bg-white
    border
    border-2 
    border-black 
    rounded
    flex-1
    flex-grow;
}
