@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom component styles */
.fullpage {
  @apply 
    min-h-screen 
    bg-linear-to-b
      from-red-500
      via-black
      to-green-500
}

.title {
  @apply 
    font-bold 
    text-center 
    text-shadow-green-500
    p-4 
    sticky 
    top-0 
    z-10 
    shadow
    shadow-green-500;
}

.title h1 {
  @apply 
    text-7xl 
    font-bold 
    text-center 
    text-black
    text-shadow-lg
    text-shadow-green-500
}

.title p {
  @apply 
    text-green-500
    px-4
    bg-black/20
    rounded-sm
}

.title img {
  @apply
    h-60;
}

.menu {
  @apply 
    gap-4 
    text-xl 
    font-bold 
    text-gray-900 
    h-full 
    text-center 
    flex 
    flex-row 
    md:flex-col 
    sticky 
    top-10 
    z-10;
}

.menu-item {
  @apply 
    flex-grow
    md:flex-1
    p-2 
    border
    border-gray-700 
    rounded-sm
    bg-gray-200/50
    hover:bg-gray-300 
    cursor-pointer 
    flex-1;
}

.entry-item {
  @apply 
    p-2 
    m-2
    bg-white
    border
    border-2 
    border-black 
    rounded
    flex-1
    flex-grow;
}
