@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom component styles */
.fullpage {
  @apply min-h-screen;
  background: linear-gradient(to bottom, 
    black 0%, 
    black 25%, 
    red 33%, 
    red 58%, 
    green 75%, 
    green 100%
  );
}
.title {
  @apply 
    font-bold 
    text-center
    p-4 
    z-10 
    shadow
    shadow-gray-600;
}

.title h1 {
  @apply 
    sm:pt-6
    font-bold 
    text-center 
    text-green-600
    text-shadow-lg
    text-shadow-gray-600;
  font-size: min(7vw, 4rem);
  margin-inline: auto;
}

.title p {
  @apply 
    text-gray-400
    px-4
    bg-black/20
    rounded-sm
    text-sm;
  margin-inline: auto;
}

.title img {
  @apply
    h-60;
}

.menu {
  @apply 
    text-xl 
    font-bold 
    text-gray-900 
    sticky 
    top-2
    z-10
    flex
    flex-col
    md:flex-row
    md:gap-4
    md:h-full;
}

.menu-toggle {
  @apply 
    md:hidden
    p-2
    border
    border-gray-700
    rounded-sm
    bg-gray-200/50
    hover:bg-gray-300
    cursor-pointer
    font-bold
    text-2xl;
}

.menu-items {
  @apply
    hidden
    md:flex
    md:flex-col
    md:gap-4
    md:max-h-[calc(100vh-60px)]
    md:overflow-y-auto;
}

.menu-items.open {
  @apply
    flex
    flex-col
    gap-2
    bg-gray-100
    p-2
    rounded-sm
    border
    border-gray-700
    max-h-[calc(100vh-60px)]
    overflow-y-auto;
}

.menu-item {
  @apply 
    p-2 
    border
    border-gray-700 
    rounded-sm
    bg-gray-200/50
    hover:bg-gray-300 
    cursor-pointer
    text-center;
}

.entry-item {
  @apply 
    p-2 
    m-2
    bg-white
    border
    border-2 
    border-black 
    rounded
    flex-1
    flex-grow;
}

.entry-item > :first-child > :first-child {
  @apply
    flex
    flex-row
    items-end
    justify-between
}

.entry-title {
  @apply
    text-xl
    font-medium 
}

.entry-date {
  @apply
    text-sm
    font-thin 
}